@import "tailwindcss";
    
    body {
        font-family: "Roboto", sans-serif;
        padding: 0;
        background-color: #333;
        color: #e8e7e7;
        margin-top: 5px;
        margin-bottom: 10px;
    }