@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
    
    body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #333;
        color: #e8e7e7;
    }
    
    a {
        color: #007bff;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }