<body>
    <div>
        <h1>ABOUT ME:</h1>
        <p>Hello! I'm John Lloyd Canoy, a passionate software developer with a strong interest in open source technologies. I enjoy building innovative solutions and contributing to the developer community.</p>
    </div>
</body>