---
import Tagline from "../components/tagline.astro";
import homeAsset from "../assets/Home-asset.png";
---


    <body>
        <div
        class="flex items-center justify-center gap-30  flex-col md:flex-row mx-auto max-w-7xl px-6"
        >
        <Tagline />
        <img
            src={homeAsset.src}
            alt="Home Image"
            class="w-110 h-auto mt-6 rounded-lg"
        />
        </div>
    </body>

