---
import Tagline from '../components/tagline.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <Tagline />
    <img src="../assets/Home-assets.png" alt="Home Image" class="w-full h-auto mt-6 rounded-lg shadow-md">
    <slot />
</body>
</html>