---
import Layout from '../layouts/global-layout.astro';
import '../styles/global.css'
---

<Layout title="Home - My Portfolio">
    <h1>Welcome to my portfolio</h1>
    <p>Your content goes here</p>
</Layout>