---
import NavButton from './buttons/a-button.astro';
---

<nav class="bg-[#333] text-[#e8e7e7] border-b border-gray-700 px-6 py-4 flex flex-row items-center justify-between sticky top-0 z-50">
    
    <a href="/" class="text-xl font-bold tracking-wider hover:text-white transition-colors duration-200">
        JOHNLLOYD<span class="text-blue-500">CANOY</span>
    </a>

    <div class="flex flex-row gap-2 items-center">
        <NavButton href="#about">Home</NavButton>
        <NavButton href="#about">About</NavButton>
        <NavButton href="#projects">Projects</NavButton>
        <NavButton href="#skills">Skills</NavButton>
        <NavButton href="#leadership">Leadership</NavButton>
        <NavButton href="#engagements">Engagements</NavButton>
        <NavButton href="#contact">Contact</NavButton>
    </div>
</nav>