---
import '../styles/global.css'
import NavButton from './buttons/a-button.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Lloyd Canoy Navigation</title>
</head>
<body>
    <div class="p-4   rounded-lg border border-gray-200 flex flex-row  gap-4 items-center" >
        <h1>John Lloyd Canoy Navigation</h1>
        <NavButton href="/about">About</NavButton>
        <NavButton href="/projects">Projects</NavButton>
        <NavButton href="/contact">Contact</NavButton>
    </div>
</body>
</html>