---
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Lloyd Canoy Navigation</title>
</head>
<body>
    <div class="p-4   rounded-lg border border-gray-200">
        <h1>John Lloyd Canoy Navigation</h1>
        
    </div>
</body>
</html>