<h1>
    <span class="text-4xl font-bold text-gray-800">John Lloyd Canoy</span>
    <br>
    <span class="text-xl text-gray-600">Software Developer | Open Source Enthusiast</span>
    <br>
    <span class="text-lg text-gray-500">BUILDING SOMETHING OUT OF NOTHING</span>
</h1>